* {
  box-sizing: border-box;
}

body{
  background-color: #12142c;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header{
  background-color: #373b69;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem;
  padding-left: 0.8rem;
}

.home-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.Utility-app{
  width: 200px;
  height: 200px;
  margin: 2.2rem;
  background-color: #373b69;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.Utility-app:hover{
  color: red;
}

.Utiliy-content{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}



.home-button{
  background-color: #12142c;
  border: 3px solid #373b69;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
}

.home-button:focus{
  outline: 0;
}

.ED-UApp-container{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
}

.ED-UApp-container .UApp{
  width: 200px;
  height: 200px;
  margin: 2.2rem;
  background-color: #373b69;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  cursor: pointer;
}

.ED-UApp-container .UApp .UApp-content{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
}

.UAppOverview{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 200px;
  margin: 2.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UAppOverview li{
  list-style-type: none;
  margin: 10px;
}

.UAppOverview-content{
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.UApp-content:hover{
  color: red;
}

.modal{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
}

.modal-container {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 500px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  background-color: #373b69;
}

.modal-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.closebutton {
  width: 100%;
  border: none;
  outline: none;
  font-size: 27px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 30px;
  background-color: #373b69;
  color: #12142c;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bolder;
}

.closebutton:focus {
  outline: 0;
}

.closebutton:hover {
  color: white;
}

.drop-down-container{
  display: flex;
  justify-content: space-around;
}

.drop-down{
  width: 33%;
  outline: none;
  font-size: 19px;
  padding: 6px;
  padding-right: 0;
  background: black;
  color: black;
  text-align: center;
  background-color: #373b69;
  letter-spacing: 1px;
  margin-bottom: 60px;
  margin-top: 40px;
  font-weight:500;
  align-items: center;
}

.drop-down:focus{
  outline: 0;
}

.drop-down-container option{
  font-size: 19px;
  text-align: center;
}

.base64-decode{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5rem;
  height: 400px;
  align-items: center;
}

.base64-decode textarea{
  text-align: start;
  height: 350px;
  width: 350px;
  letter-spacing: 1px;
  /* margin-bottom: 1.5 rem; */
  background-color: #373b69;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.json{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5rem;
  height: 400px;
  align-items: center;
}

.json textarea{
  text-align: start;
  height: 450px;
  width: 450px;
  letter-spacing: 1px;
  /* margin-bottom: 1.5 rem; */
  background-color: #373b69;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.json textarea:focus{
  outline: 0;
}

.base64-decode textarea:focus{
  outline: 0;
}

.base64-decode-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
  margin-bottom: 1.5rem;
}

.base64-decode-button-container button{
  height: 40px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  background-color: #12142c;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 3px solid   #12142c;
  cursor: pointer;
  color: wheat;
  border-radius: 5px;
}

@media only screen and (max-width:1040px){
  .json{
    height: 650px;
    margin-top: 1rem;
  }

  .json textarea{
    height: 300px;
    width: 300px;
    margin-top: 0;
  }

}

@media only screen and (max-width:880px){
  .home-container{
    justify-content:center;
  }
  
  .UApp-container{
    justify-content: center;
  }

  .UAppOverview-content {
    font-size: 13.5px;
  }

  .modal-container {
    max-width: 400px;
    min-height: 450px;
  }
  
  .drop-down{
    width: 40%;
    font-size: 9.5px;
  }

  .closebutton {
    font-size: 22px;
  }

  .base64-decode{
    height: 650px;
    margin-top: 1rem;
  }

  .base64-decode textarea{
    height: 300px;
    width: 300px;
    margin-top: 0;
  }

  .json{
    height: 650px;
    margin-top: 1rem;
  }

  .json textarea{
    height: 300px;
    width: 300px;
    margin-top: 0;
  }


  .base64-decode-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    margin-bottom: -0.5rem;
  }

  .base64-decode-button-container button{
    margin: 0;
  }

}

@media only screen and (max-width:780px){
  .home-container{
    justify-content:center;
  }
  
  .UApp-container{
    justify-content: center;
  }

  .UAppOverview-content {
    font-size: 13.5px;
  }

  .modal-container {
    max-width: 400px;
    min-height: 450px;
  }
  
  .drop-down{
    width: 40%;
    font-size: 9.5px;
  }

  .closebutton {
    font-size: 22px;
  }

  .base64-decode{
    height: 650px;
    margin-top: 1rem;
  }

  .base64-decode textarea{
    height: 220px;
    width: 220px;
    margin-top: 0;
  }

  .json{
    height: 650px;
    margin-top: 1rem;
  }

  .json textarea{
    height: 220px;
    width: 220px;
    margin-top: 0;
  }

  .base64-decode-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    margin-bottom: -0.5rem;
  }

  .base64-decode-button-container button{
    margin: 0;
  }

}


@media only screen and (max-width:620px){
  .home-container{
    justify-content:center;
  }
  
  .UApp-container{
    justify-content: center;
  }

  .UAppOverview-content {
    font-size: 13.5px;
  }

  .modal-container {
    max-width: 400px;
    min-height: 450px;
  }
  
  .drop-down{
    width: 40%;
    font-size: 9.5px;
  }

  .closebutton {
    font-size: 22px;
  }

  .base64-decode{
    height: 650px;
    margin-top: 1rem;
  }

  .base64-decode textarea{
    height: 250px;
    width: 250px;
    margin-top: 0;
  }

  .json{
    height: 650px;
    margin-top: 1rem;
  }

  .json textarea{
    height: 250px;
    width: 250px;
    margin-top: 0;
  }


  .base64-decode-button-container{
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    margin-bottom: -0.5rem;
  }

  .base64-decode-button-container button{
    margin: 0;
  }

}